{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Verify OTP | Kiddora</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="auth-container">
    <div class="auth-card">

        <div class="auth-left">
            <h2>Verify OTP</h2>
            <p>Enter the OTP sent to your email address</p>

            <form method="post">
                {% csrf_token %}
                <input type="text" name="otp" placeholder="Enter OTP" required>

                <button type="submit" class="primary-btn">Verify OTP</button>
            </form>

            <p>Didn't receive OTP? 
                <a href="{% url 'accounts:resend_otp' %}" class="link">Resend OTP</a>
            </p>

            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <a href="{% url 'accounts:login' %}" class="link">
                Go back to Login page
            </a>
        </div>

        <div class="auth-right">
            <img src="{% static 'images/verify_otp.PNG' %}" alt="Verify OTP">
        </div>

    </div>
</div>

</body>
</html>
