body {
    background: url("../images/kiddora_loading_page.PNG") center/cover no-repeat fixed;
    font-family: 'Comic Sans MS', cursive;
}

.container {
    background: #fff;
    padding: 35px;
    border-radius: 25px;
    width: 420px;
    margin: auto;
    margin-top: 5%;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

.logo {
    text-align: center;
    color: #ff69b4;
}

button {
    background: linear-gradient(45deg, #ff69b4, #ffb6c1);
    border: none;
    padding: 12px;
    border-radius: 20px;
    color: white;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background: #ff1493;
}

input {
    border-radius: 15px;
    padding: 10px;
}

