{% extends "base_user.html" %}
{% block content %}
<h1>{{ product.product_name }}</h1>
<p>Brand: {{ product.brand }}</p>
<p>Price: {{ product.final_price }}</p>
<p>Discount: {{ product.discount_percent }}%</p>
<div class="images">
  {% for img in images %}
    <img src="{{ img.image.url }}" alt="{{ img.alt_text }}">
  {% endfor %}
</div>
<div class="variants">
  {% for variant in variants %}
    <p>{{ variant.color }} / {{ variant.size }} - SKU: {{ variant.barcode }}</p>
  {% endfor %}
</div>
<a href="{% url 'cart:add_to_cart' product.id %}">Add to Cart</a>
{% endblock %}
