{% extends "base_user.html" %}
{% block title %}About Us | Kiddora{% endblock %}

{% block content %}
<section class="static-page">
    <h1>About Kiddora</h1>
    <p>
        Kiddora is a modern e-commerce platform designed to deliver high-quality products
        with a seamless shopping experience. Our goal is to make online shopping simple,
        secure, and enjoyable.
    </p>

    <p>
        We focus on quality, customer satisfaction, and innovation while ensuring
        transparency and trust in every transaction.
    </p>
</section>
{% endblock %}
